
plugged/ctags/
plugged/nerdtree/
plugged/plenary.nvim/
plugged/syntastic/
plugged/tagbar/
plugged/telescope.nvim/
plugged/vim-airline-themes/
plugged/vim-airline/
plugged/vim-better-whitespace/
plugged/vim-commentary/
plugged/vim-indent-guides/
plugged/vim-smooth-scroll/
